#countdown-container {
  margin: 2rem auto;
  text-align: center;
  font-size: 2rem;
  word-break: break-word;
  border: 2px solid currentColor;
  border-radius: 0.5rem;
}

#countdown-text {
  font-size: 22px;
}

@media screen and (width < 600px) {
  #countdown-container {
    font-size: 1.5rem;
  }
}
